/***
 * Dimensions
 ***/
$wrapper-width: 950px;

/***
 * Couleurs
 ***/
$color-black: black;
$color-white: white;
$color-grey: #666c71;
$color-darkgrey: #141C24;
$color-blue: #0085bc;
$color-darkblue: #33485c;
$color-clearblue: #cce6f1;


/***
 * Typos
 ***/
$font-primary: "Lucida Sans";
$font-secondary: EniExpRegular;
$font-bold: EniExpBold;