/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***
 * Variables
 ***/
/***
 * Dimensions
 ***/
/***
 * Couleurs
 ***/
/***
 * Typos
 ***/
/***
 * Links
 ***/
/***
 * Typo
 ***/
/***
 * Layout
 ***/
/***
 * Shadows
 ***/
/***
 * Typos
 ***/
/***
 * Layout global
 ***/
/* line 1, ../sass/partials/layout/_global.scss */
.clear {
  clear: both;
}

/* line 5, ../sass/partials/layout/_global.scss */
body {
  font-family: "Lucida Sans";
}

/** 
 * Common layout
 ***/
/* line 13, ../sass/partials/layout/_global.scss */
.wrapper {
  width: 950px;
  margin: 0 auto;
}

/* line 18, ../sass/partials/layout/_global.scss */
body, html {
  width: 100%;
  height: 100%;
  background: #fcd700;
}

/* line 24, ../sass/partials/layout/_global.scss */
#nav {
  margin: 20px 0 0 100px;
}
/* line 26, ../sass/partials/layout/_global.scss */
#nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: black;
  margin-left: -3px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 31, ../sass/partials/layout/_global.scss */
#nav li a {
  display: block;
  padding: 10px;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
}
/* line 6, ../sass/partials/_mixins.scss */
#nav li a:hover {
  text-decoration: underline;
}
/* line 37, ../sass/partials/layout/_global.scss */
#nav li a:hover {
  text-decoration: none;
}

/* line 46, ../sass/partials/layout/_global.scss */
#main #content {
  margin: 0 0 0 60px;
  width: 590px;
  padding: 20px 10px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
}
/* line 54, ../sass/partials/layout/_global.scss */
#main #content article {
  margin: 30px 0;
}
/* line 56, ../sass/partials/layout/_global.scss */
#main #content article .date {
  position: absolute;
  margin-left: -70px;
  width: 60px;
  background: #c4003c;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  color: white;
  padding: 8px 0;
}
/* line 64, ../sass/partials/layout/_global.scss */
#main #content article .date span {
  display: block;
  text-align: center;
  font-size: 1.4em;
  padding: 2px 0;
}
/* line 69, ../sass/partials/layout/_global.scss */
#main #content article .date span:nth-child(2n) {
  font-size: 1em;
}
/* line 74, ../sass/partials/layout/_global.scss */
#main #content article h2.title {
  font-size: 1.6em;
  margin: 0 0 15px 0;
}
/* line 78, ../sass/partials/layout/_global.scss */
#main #content article .author {
  font-size: .9em;
  margin: 0 0 15px 0;
}
/* line 82, ../sass/partials/layout/_global.scss */
#main #content article .picture {
  border: 1px solid #d9d9d9;
  padding: 2px;
  margin: 0 0 20px 0;
}
/* line 86, ../sass/partials/layout/_global.scss */
#main #content article .picture img {
  width: 100%;
  height: auto;
}
/* line 90, ../sass/partials/layout/_global.scss */
#main #content article .picture.full {
  width: 100%;
}
/* line 93, ../sass/partials/layout/_global.scss */
#main #content article .picture.partial {
  display: inline;
  float: left;
  margin-right: 20px;
}
/* line 97, ../sass/partials/layout/_global.scss */
#main #content article .picture.partial img {
  width: auto;
}
/* line 102, ../sass/partials/layout/_global.scss */
#main #content article .excerpt {
  line-height: 1.2em;
}
/* line 105, ../sass/partials/layout/_global.scss */
#main #content article .more {
  color: white;
  text-decoration: none;
  margin: 20px 0 10px 0;
  padding: 4px 10px 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: .9em;
  background: url(../images/arrow.png) no-repeat 10px center #c4003c;
}
/* line 6, ../sass/partials/_mixins.scss */
#main #content article .more:hover {
  text-decoration: underline;
}
/* line 115, ../sass/partials/layout/_global.scss */
#main #content article .links {
  background: #fcd700;
  padding: 5px 20px 5px 13px;
}
/* line 118, ../sass/partials/layout/_global.scss */
#main #content article .links ul.tags {
  display: inline;
}
/* line 120, ../sass/partials/layout/_global.scss */
#main #content article .links ul.tags li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-right: 1px solid black;
  padding: 0 7px;
}
/* line 124, ../sass/partials/layout/_global.scss */
#main #content article .links ul.tags li:last-child {
  border: none;
}
/* line 129, ../sass/partials/layout/_global.scss */
#main #content article .links .action {
  display: inline;
  float: right;
  font-size: .85em;
  margin-top: 2px;
}
/* line 134, ../sass/partials/layout/_global.scss */
#main #content article .links .action:before {
  content: url(../images/comments.png);
  margin: 2px 5px 0 0;
  vertical-align: middle;
}
/* line 140, ../sass/partials/layout/_global.scss */
#main #content article .links a {
  text-decoration: none;
  color: black;
}
/* line 6, ../sass/partials/_mixins.scss */
#main #content article .links a:hover {
  text-decoration: underline;
}
/* line 147, ../sass/partials/layout/_global.scss */
#main #content .pager {
  margin-top: 10px;
  background: black;
}
/* line 151, ../sass/partials/layout/_global.scss */
#main #content .pager ul li {
  padding: 8px 10px;
  border-right: 1px solid #232323;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 155, ../sass/partials/layout/_global.scss */
#main #content .pager ul li a {
  font-size: .8em;
  color: white;
  text-decoration: none;
}
/* line 6, ../sass/partials/_mixins.scss */
#main #content .pager ul li a:hover {
  text-decoration: underline;
}
/* line 159, ../sass/partials/layout/_global.scss */
#main #content .pager ul li a:hover {
  text-decoration: none;
  color: #fcd700;
}
/* line 164, ../sass/partials/layout/_global.scss */
#main #content .pager ul li.active {
  background: #fcd700;
}
/* line 166, ../sass/partials/layout/_global.scss */
#main #content .pager ul li.active a {
  color: black;
}
/* line 175, ../sass/partials/layout/_global.scss */
#main #sidebar {
  float: left;
  width: 280px;
  background: #f1f0ef;
  margin-top: 45px;
  padding: 15px 0 0 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 183, ../sass/partials/layout/_global.scss */
#main #sidebar .widget {
  padding: 15px;
}
/* line 185, ../sass/partials/layout/_global.scss */
#main #sidebar .widget h3 {
  font-family: EniExpRegular;
  margin: 0 0 10px 0;
  font-size: 1.4em;
  color: #282828;
}
/* line 191, ../sass/partials/layout/_global.scss */
#main #sidebar .widget hr {
  border: none;
  background: white;
  border-top: 1px solid #cac7c7;
}
/* line 196, ../sass/partials/layout/_global.scss */
#main #sidebar .widget p {
  color: #5b5b5b;
}
/* line 200, ../sass/partials/layout/_global.scss */
#main #sidebar .widget.widget-list ul {
  border-top: 1px solid #cac7c7;
  border-bottom: 1px solid white;
}
/* line 203, ../sass/partials/layout/_global.scss */
#main #sidebar .widget.widget-list ul li {
  padding: 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cac7c7;
}
/* line 207, ../sass/partials/layout/_global.scss */
#main #sidebar .widget.widget-list ul li a {
  text-decoration: none;
  color: black;
  font-size: .9em;
}
/* line 6, ../sass/partials/_mixins.scss */
#main #sidebar .widget.widget-list ul li a:hover {
  text-decoration: underline;
}
/* line 211, ../sass/partials/layout/_global.scss */
#main #sidebar .widget.widget-list ul li a:before {
  content: url(../images/arrow-black.png);
  margin-right: 8px;
}
/* line 220, ../sass/partials/layout/_global.scss */
#main #sidebar .widget.picture img {
  margin-top: 10px;
}
/* line 227, ../sass/partials/layout/_global.scss */
#main #sidebar .widget:nth-child(even) {
  background: #e3e4e5;
}

/* line 1, ../sass/partials/layout/_header.scss */
#top {
  background: black;
  padding: 10px 0;
  font-size: .9em;
}
/* line 5, ../sass/partials/layout/_header.scss */
#top span {
  float: left;
  display: block;
  width: 500px;
  color: #fcd700;
}
/* line 11, ../sass/partials/layout/_header.scss */
#top ul {
  float: left;
  display: block;
  width: 500px;
  margin-top: 5px;
}
/* line 16, ../sass/partials/layout/_header.scss */
#top ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 18, ../sass/partials/layout/_header.scss */
#top ul li a {
  text-decoration: none;
  color: #fcd700;
}
/* line 6, ../sass/partials/_mixins.scss */
#top ul li a:hover {
  text-decoration: underline;
}
/* line 22, ../sass/partials/layout/_header.scss */
#top ul li:after {
  content: "|";
  margin: 0 10px;
  color: white;
}
/* line 27, ../sass/partials/layout/_header.scss */
#top ul li:last-child:after {
  content: "";
}
/* line 32, ../sass/partials/layout/_header.scss */
#top form {
  float: right;
  margin-top: -12px;
  background: white;
  padding: 2px;
}
/* line 37, ../sass/partials/layout/_header.scss */
#top form input {
  border: none;
  padding: 4px;
}
/* line 40, ../sass/partials/layout/_header.scss */
#top form input.submit {
  background: white;
  width: 30px;
  overflow: hidden;
  text-indent: 999px;
  background: url(../images/search.png) no-repeat center;
  cursor: pointer;
  border-left: 1px solid #d9d9d9;
}

/* line 53, ../sass/partials/layout/_header.scss */
header {
  background: white;
  margin: 30px 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
}
/* line 63, ../sass/partials/layout/_header.scss */
header h1 {
  float: right;
  margin-top: 20px;
  width: 450px;
  text-align: left;
  font-family: EniExpBold;
  letter-spacing: -0.05em;
  font-size: 3em;
}
/* line 70, ../sass/partials/layout/_header.scss */
header h1 span {
  font-size: 1.2em;
}

/* line 1, ../sass/partials/layout/_footer.scss */
footer {
  background: black;
  text-align: center;
  margin-top: 40px;
  color: white;
  padding: 20px 0;
  font-size: .9em;
}
/* line 9, ../sass/partials/layout/_footer.scss */
footer span {
  display: block;
  margin-bottom: 10px;
}
/* line 14, ../sass/partials/layout/_footer.scss */
footer ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 20px;
  border-right: 1px solid white;
}
/* line 18, ../sass/partials/layout/_footer.scss */
footer ul li a {
  color: white;
  text-decoration: none;
}
/* line 6, ../sass/partials/_mixins.scss */
footer ul li a:hover {
  text-decoration: underline;
}
/* line 22, ../sass/partials/layout/_footer.scss */
footer ul li:last-child {
  border: none;
}

/***
 * Pages
 ***/
/**
 * Homepage
 **/
/* line 7, ../sass/partials/pages/_index.scss */
.page.home #ban {
  background: url(../images/ban.jpg) no-repeat;
  height: 386px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: EniExpBold;
  letter-spacing: -0.05em;
}
/* line 12, ../sass/partials/pages/_index.scss */
.page.home #ban h2 {
  color: white;
  padding: 40px 0 0 20px;
  font-size: 2.5em;
  width: 450px;
}
/* line 18, ../sass/partials/pages/_index.scss */
.page.home #ban a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.5em;
  margin: 20px 0 0 20px;
}
/* line 6, ../sass/partials/_mixins.scss */
.page.home #ban a:hover {
  text-decoration: underline;
}
/* line 24, ../sass/partials/pages/_index.scss */
.page.home #ban a:before {
  content: ">";
  margin-right: 8px;
}
/* line 28, ../sass/partials/pages/_index.scss */
.page.home #ban a:hover {
  text-decoration: none;
}

/* line 6, ../sass/partials/pages/_post.scss */
.page.post #main #content article .excerpt {
  color: #023b74;
  padding: 10px 0;
}
/* line 10, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content {
  line-height: 1.2em;
}
/* line 12, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content p {
  margin: 10px 0;
}
/* line 15, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content h1 {
  font-size: 1.6em;
  margin: 20px 0;
}
/* line 19, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content h2 {
  font-size: 1.4em;
  margin: 15px 0 10px 0;
}
/* line 23, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content h3 {
  font-size: 1.2em;
  margin: 5px 0;
}
/* line 27, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content ul {
  margin: 5px 0;
  list-style-type: disc;
}
/* line 30, ../sass/partials/pages/_post.scss */
.page.post #main #content article .content ul li {
  margin: 2px 0 2px 40px;
}
/* line 35, ../sass/partials/pages/_post.scss */
.page.post #main #content article .links {
  margin-top: 30px;
}

/***
 * Media queries
 ***/
