/***
 * Dimensions
 ***/
$wrapper-width: 950px;

/***
 * Couleurs
 ***/
$color-black: black;
$color-white: white;
$color-yellow: #fcd700;
$color-lightgrey: #d9d9d9;


/***
 * Typos
 ***/
$font-primary: "Lucida Sans";
$font-secondary: EniExpRegular;
$font-bold: EniExpBold;